* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    border: 0;
    padding: 18px 35px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Header & Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Banner Styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main Styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* About Me Styles */
.about-me {
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-me-info-container {
    display: flex;
    justify-content: space-around;
}

.about-me .info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What I Do Styles */
.what-i-do {
    text-align: center;
}

.what-i-do .section-description {
    margin-bottom: 50px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
    font-size: 16px;
}

/* Resume Styles */
.resume {
    margin-bottom: 113px;
}
.resume .section-title{
    margin-bottom: 113px;
}
.resume-content {
    display: flex;
    gap: 24px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-item{
    margin: 30px 0;
}
.resume .title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
.resume .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}
.resume .description{
    font-size: 16px;
    color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}